@media screen and (max-width: 650px) {
  body {
    height: 100vh;
  }
  .wrapper {
    width: 450px;
    margin: 20px;
    margin-top: 0;
  }

  h1 {
    font-size: 28px;
  }

  .currencyType {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  select,
  input {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
  }
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 24px;
  }
}
