@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}


body {
    height: 100vh;
    background-image : url(https://shorturl.at/rxz56 );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper {
    width: 600px;
    background: linear-gradient(to bottom right,rgb(241, 101, 62), rgb(0, 183, 255), rgba(167, 162, 162, 0.936) );
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0px 0.3px 12px;
}

h1 {
    color: black;
    text-decoration: underline;
    font-size: 32px;
    font-family: "Gilda Display", serif;
    text-align: center;
    margin: 20px 30px 0 30px;

}

.currencyType {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
    gap: 20px;
}


select, input {
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    padding: 8px 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 7px;
}

button {
    width: 40%;
    font-size: 20px;
    border-radius: 20px;
    padding: 15px 0;
    color: rgb(0, 183, 255);
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}


button:hover {
    color: white;
    background: rgb(0, 183, 255);
    transition: 0.3s ease-in ;
}

.swapCurrency {
    margin: 10px 30px;

}
